src_ampl/*.dat
!src_ampl/minlp.dat
src_ampl/*/*.dat
doc/build/*
*.log
*.sol
profile_data/*
function_files/import_poly_dat.jl
src/Modeler/QCQP_ampl.jl
src_ampl/ampl_triang_carres.run
test.jl
/test_GOC2.dat
/case14.dat
/test_case14_scenario1.dat
/test_case14_scenario1_cc_active_power.dat
/case14_scenario1_with_cc_active_power.dat
/export_real_case14_scenario1_with_cc_active_power.dat
/export_real_case14_scenario1_without_cc_active_power.dat
/export_Smax_case14_scenario1.dat
src_ampl/minlp.dat
/WB2.dat
/src_ampl/minlp.dat
/export_cc_active_power_case14_scenario1.dat
/export_cc_reactive_power_case14_scenario1.dat
/Phase_0_IEEE14_scenario_1_real.dat
/case14_scenario1_only_voltage_variables.dat
/IEEE14_real.dat
Knitro_runs
src_ampl/minlp.dat
src_modeler/Modeler/QCQP_ampl.jl
/WB2.temp
/case9.temp
/GOCdata.csv
/GOCdata_v2.xlsx
/src_ampl/minlp.dat
/dev/resultsROADEF_Phase_0_IEEE14.csv
/dev/resultsROADEF_Phase_0_Modified_IEEE14.csv
/dev/resultsROADEF_Phase_0_Modified_RTS96.csv
/dev/resultsROADEF_Phase_0_RTS96.csv
/data_GOC/Phase_0_OriginalDataset*
/src_test/resultsROADEFv2*
/data_GOC/Phase_0_Feas179/*
/data_GOC/Phase_0_Feas179_old/*
/data_GOC/Phase_0_Feas179/*
/dev/solution1.txt
/dev/solution2.txt
JuMP_runs
Mosek_runs
*.sdp
